<%- include('header.ejs') %>

<div class="movie-wrapper">
    <img src= "https://image.tmdb.org/t/p/original/<%= movie_poster %>" class="m-poster"> 

    <div class="m-description">
        <div class="flex">
            <% for(let i = 0; i < movie.genres.length; i++) {%>
                <h6 class="text-sm px-[0.5] my-1 mx-1 italic text-green-500"> <%=  movie.genres[i].name %></h6>
            <% } %>
        </div>
        
        <h1 class="text-[36px] font-bold"><%= movie_title %>: <%= movie.tagline %> </h1>
               
        
        <div class="m-tags">

            <div class="my-3">

            <h6 class="px-1 text-sm">Rating: <span class="text-green-500"><%=movie_rating  %></span>  </h6>
            <h6 class="px-1 text-sm">Language: <span class="text-green-500"><%= movie.original_language %></span></h6>
    
            </div>
           


            <% if (!favourite) { %>
                <button  id="favourites_btn" movieid="<%= movie_id %>" user-id="<%= username %>">Add to favourites</button>
            <% } else { %>
                <button  id="favourites_btn" movieid="<%= movie_id %>" user-id="<%= username %>" class="added bg-green-700 p-1 rounded-sm">Remove from favourites</button>
            <% } %>
            
            <% if (!watched) { %>
                <button  id="watched_btn" movieid="<%= movie_id %>" user-id="<%= username %>">Add to watchlist</button>
            <% } else { %>
                <button  id="watched_btn" movieid="<%= movie_id %>" user-id="<%= username %>" class="added bg-green-700 p-1 rounded-sm ">Remove from watchlist</button>
            <% } %>
        
        </div>
        
        
        <p class="m-overview px-1">
          <%= movie_overview %>
        </p>
        <div class="my-3">

            <div class="flex">
                <% for(let i = 0; i < movie.production_companies.length; i++) {%>
                    <h6 class="text-sm px-1 my-1 mx-1 bg-green-500 rounded-sm"> <%=  movie.production_companies[i].name %></h6>
                <% } %>
            </div>
        </div>
    </div>
    

</div>

<div>
    <h1 class="text-[30px] px-9 font-semibold ">Similar Movies</h1>
    <div class=" p-5 grid-flow-col gap-9">
        <% for(let i = 0; i < recommentations.length-1; i++) { %>
        
            <a class="poster p-[20px] " href="/user/<%= username %>/<%= recommentations[i].original_title %>/<%= recommentations[i].id %>">

    
            <img class="movie-poster m-1" src= "https://image.tmdb.org/t/p/original/<%= recommentations[i].poster_path %>">  
    
           </a>
        <% } %>
    </div>
</div>





<div class="comment-section text-white rounded-lg p-6 shadow-lg">
    <!-- Comment Form -->
    <form class="flex flex-col gap-4" id="user-comment">
        <label class="text-lg font-semibold">Add a Comment</label>
        <input 
            id="comment_input" 
            class="p-2 border border-black rounded-md text-black" 
            type="text" 
            placeholder="Write your comment here..."
        >
        <input 
            id="rating_input" 
            type="number" 
            class="p-2 border border-gray-600 rounded-md text-black" 
            placeholder="Enter your rating (1-5)"
            min="1" max="5"
        >
        <button 
            id="comments-btn" 
            class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md shadow-md" 
            movieid="<%= movie_id %>" 
            user-id="<%= username %>"
        >
            Post
        </button>
    </form>

    <!-- User Comments Section -->
    <div id="user_comments" class="mt-6">
        <% if (comments.length > 0) { %>
            <% for (let i = 0; i < comments.length; i++) { %>
                <div class="mb-4 p-4 border border-gray-600 rounded-md bg-gray-700">
                    <h3 class="font-bold text-lg">
                        <%= comments[i].username %> 
                        <span class="text-yellow-400">
                            <% for (let j = 0; j < comments[i].rating; j++) { %>
                                &#9733;
                            <% } %>
                        </span>
                    </h3>
                    <p class="mt-2"><%= comments[i].comment %></p>
                </div>
            <% } %>
        <% } else { %>
            <p class="text-gray-400">No comments yet. Be the first to add one!</p>
        <% } %>
    </div>
</div>





<%- include('footer.ejs') %>