<%- include('header.ejs') %>

<div class="movie-wrapper">
    <img    src= "https://image.tmdb.org/t/p/original/<%= movie_poster %>" 
    class="m-poster"> 

    <div class="m-description">

        <h1 class="m-title"><%= movie_title %> </h1>
        <div class="m-tags">
            <h6>Rating: <%=movie_rating  %> </h6>
        <h6>Language: English</h6>

    
        <% if (!favourite) { %>
            <button id="favourites_btn" movieid="<%= movie_id %>" user-id="<%= username %>">Add to favourites</button>
        <% } else { %>
            <button id="favourites_btn" movieid="<%= movie_id %>" user-id="<%= username %>" class="added">Remove from favourites</button>
        <% } %>
        
        <button>Add to watchlist</button>
        </div>
        
        
        <p class="m-overview">
          <%= movie_overview %>
        </p>
    </div>
    


</div>

<!-- 
<div class="comment-section">
    <div class="user-comment">
        <label>Add your comment</label>
        <input>
    </div>

    <div class="text-black">
        <label class="text-black">User Comment</label>
        <h6>hehehehehehe</h6>
    </div>

</div> -->





<%- include('footer.ejs') %>